In [ ]:
import pandas as pd;

In [ ]:
city = 'chicago'
period = 'midday'
pseudo_data_folder = 'path/to/data/'

In [ ]:
# Complementarity values among zip codes
adj_matrix = pd.read_pickle(pseudo_data_folder + city + '_' + period + '_adj_matrix_business.pkl')

In [ ]:
adj_matrix.head(1)

,60106,60625,60641,60666,60642,60616,46394,60633,60619,60644,...,60620,60610,60660,60649,60639,60202,60646,60651,60171,60655
id,,,,,,,,,,,,,,,,,,,,,
60106,-8.2,-0.3,0.85,-7.3,-0.1,1.25,0.0,0.0,0.65,-3.75,...,3.75,3.2,0.5,2.9,-7.15,0.0,0.05,-1.55,-0.1,0.9

In [ ]:
# number of venues in each category for each zip code
cate_features = pd.read_pickle(pseudo_data_folder + city + '.pkl')

In [ ]:
cate_features.head(1)

cate,Nightlife Spot,Food,Travel & Transport,Professional & Other Places,Shop & Service,Residence,Outdoors & Recreation,Arts & Entertainment,College & University,Event
60659,5,73,2,6,39,0,10,0,4,0

In [ ]:
# venue metadata
all_venues.head(1)

,id,name,lat,lng,category,root_category
0,4b08e160f964a520171323e3,Villa Palermo Pizza,41.9978,-87.684708,Pizza Places,Food

In [ ]:
# the dictionary from venue id to index
for k, v in venue_id_to_idx.items():
    print(k, v)
    break

4b08e160f964a520171323e3 0

In [ ]:
# the dictionary from venue id to venue rating
for k, v in venue_id_to_rating.items():
    print(k, v)
    break

4b08e160f964a520171323e3 7.8

In [ ]:
# the dictionary from geohash to the venues within this geohash
for k, v in geohash_to_venue_ids_b.items():
    print(k, v)
    break

dp3wutm ['4b08e160f964a520171323e3', '4c43b571429a0f4769d6471e']

In [ ]:
# The distance in km
real_world_distances[0]

1020.8523000388745